<!-- app/views/home/index.html.erb -->

<div class="jumbotron text-center">
  <h1>Bem-vindo ao QuizApp!</h1>
  <p class="lead">Teste seus conhecimentos em diversos tópicos e desafie seus amigos!</p>
  <hr class="my-4">
  <p>Nossa aplicação oferece quizzes divertidos e educativos para você se desafiar. A cada resposta correta, você acumula pontos e avança de nível. Cadastre-se agora e comece a jogar!</p>
  
  <%= link_to 'Comece Agora', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  
  <% if !user_signed_in? %>
    <p class="mt-4">Já tem uma conta? <%= link_to 'Faça login aqui', new_user_session_path %></p>
  <% end %>
</div>

<div class="container mt-5">
  <h2>Funcionalidades do QuizApp</h2>
  <ul class="list-group">
    <li class="list-group-item">Desafie-se com quizzes em diversas categorias</li>
    <li class="list-group-item">Ganhe pontos e suba de nível a cada resposta correta</li>
    <li class="list-group-item">Acompanhe seu progresso e veja sua posição no ranking</li>
    <li class="list-group-item">Administração simples e fácil para criar e gerenciar quizzes</li>
  </ul>
</div>

