<!-- app/views/dashboards/show.html.erb -->

<h1>Bem-vindo, <%= current_user.email %>!</h1>

<p>Este é o seu dashboard, onde você pode ver os quizzes disponíveis e seu progresso.</p>


<h2>Últimos Quizzes Respondidos</h2>
<% if @recent_quizzes.present? %>
  <ul>
    <% @recent_quizzes.each do |quiz| %>
      <li>
        <%= link_to quiz.title, quiz_path(quiz) %> - Respondido em: 
        <%= quiz.questions.joins(:answers).where(answers: { user: current_user }).order('answers.created_at DESC').first&.answers&.first&.created_at&.strftime("%d/%m/%Y %H:%M") || "Data não disponível" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Você ainda não respondeu a nenhum quiz.</p>
<% end %>





<h2>Quizzes Disponíveis</h2>
<% if @quizzes.present? && @quizzes.any? %>
  <ul>
    <% @quizzes.each do |quiz| %>
      <li>
        <%= link_to quiz.title, quiz_path(quiz) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Não há quizzes disponíveis no momento.</p>
<% end %>
