<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 2px solid #204a80; border-radius: 10px; background-color: #f0f4f8;">
  <div style="text-align: center; margin-bottom: 20px;">
    <%= image_tag "https://raw.githubusercontent.com/AngeloSouza1/Exercicios/main/logo1.png", alt: 'Logo da Empresa', style: 'max-width: 150px;' %>
  </div>

  <h2 style="color: #204a80;">Olá, <%= @resource.email %></h2>

  <p style="font-size: 1.1rem; color: #333;">Você solicitou a redefinição de sua senha. Para redefinir sua senha, clique no link abaixo:</p>

  <p style="text-align: center; margin: 20px 0;">
    <%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token), style: 'display: inline-block; padding: 10px 20px; font-size: 1.1rem; color: #fff; background-color: #204a80; text-decoration: none; border-radius: 5px;' %>
  </p>

  <p style="font-size: 1.1rem; color: #333;">Se você não solicitou essa alteração, ignore este e-mail.</p>

  <p style="font-size: 0.9rem; color: #888;">Obrigado,<br>A equipe do QuizApp</p>
</div>
